@charset "UTF-8";
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012–2014 thoughtbot, inc.
 * MIT License */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.
 *
 * Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.
 *
 * @param {Number} $local-max-width ($max-width) - Max width to be applied to the element. Can be a percentage or a measure.
 *
 * @example scss
 *  .element {
 *    @include outer-container(100%);
 *  }
 *
 * @example css
 *  .element {
 *    *zoom: 1;
 *    max-width: 100%;
 *    margin-left: auto;
 *    margin-right: auto;
 *  }
 *
 *  .element:before, .element:after {
 *    content: " ";
 *    display: table;
 *  }
 *
 *  .element:after {
 *    clear: both;
 *  }
 */
/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block) - Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right) - Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "proxima-nova-condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova-soft", "proxima-nova-condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-weight: 600; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "proxima-nova-condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "proxima-nova-condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.button-container {
  text-align: center; }

.button.big {
  text-transform: uppercase;
  font-family: "proxima-nova-soft", "proxima-nova-condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.875em;
  line-height: 64px;
  height: 64px;
  padding: 0 1em;
  display: inline-block;
  border-radius: 5px; }

.button.green {
  color: #fff;
  background: #0b8c41; }
  .button.green:hover {
    background: #097436; }

header {
  height: 600px;
  background: #2e4e6b url(../top.png) repeat center center;
  position: relative; }
  header .last {
    background: url(../previous.svg) no-repeat right center;
    background-size: auto 40px;
    height: 40px;
    padding-right: 50px;
    top: 40px;
    right: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 1.5em;
    position: absolute; }
  header #logo {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    display: block; }
    header #logo img {
      width: 100%;
      height: auto;
      display: block; }
  header #date-place {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1200px;
    transform: translate(-50%, -50%);
    display: block; }
    header #date-place > div {
      font-family: "proxima-nova-soft";
      color: #20b9f1;
      font-size: 2em; }
      header #date-place > div#conf-place {
        float: left; }
      header #date-place > div#conf-date {
        float: right; }

#the-bar {
  background: #1f3447;
  text-align: center;
  padding: 20px 0; }
  #the-bar span {
    font-size: 1.25em;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    height: 36px;
    line-height: 36px; }
  #the-bar form {
    display: inline-block; }
    #the-bar form > div {
      display: inline-block; }
      #the-bar form > div input.text {
        width: 400px;
        border: 0;
        display: inline-block;
        margin: 0 1ex;
        height: 36px;
        line-height: 36px;
        font-size: 1.25em;
        font-weight: 600;
        vertical-align: middle;
        padding-right: 180px; }
      #the-bar form > div input.submit {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0;
        background: #20b9f1;
        color: #2e4e6b;
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 600;
        vertical-align: middle;
        margin-left: -137px;
        width: 120px; }

section#about {
  text-align: center;
  padding: 150px 0; }
  section#about h2 {
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 40px; }
  section#about p {
    font-size: 1.5em;
    font-weight: 300;
    color: #666;
    text-align: center; }

section.intro {
  background: #2e4e6b;
  padding: 120px 0; }
  section.intro h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 40px; }
  section.intro p {
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    text-align: center; }

section.content {
  padding: 120px 0; }

#speakers .content .speaker-list {
  display: block; }
  #speakers .content .speaker-list:after {
    content: "";
    display: table;
    clear: both; }
  #speakers .content .speaker-list .speaker {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    #speakers .content .speaker-list .speaker:last-child {
      margin-right: 0; }
    #speakers .content .speaker-list .speaker:nth-child(2n) {
      margin-right: 0; }
    #speakers .content .speaker-list .speaker:nth-child(2n+1) {
      clear: left; }
    #speakers .content .speaker-list .speaker > div {
      padding: 20px;
      position: relative;
      display: block; }
      #speakers .content .speaker-list .speaker > div:after {
        content: "";
        display: table;
        clear: both; }
      #speakers .content .speaker-list .speaker > div .img {
        float: left;
        display: block;
        margin-right: 4.8291579146%;
        width: 30.1138947236%; }
        #speakers .content .speaker-list .speaker > div .img:last-child {
          margin-right: 0; }
        #speakers .content .speaker-list .speaker > div .img figure {
          width: 100%;
          padding-top: 100%;
          /* defines aspect ratio */
          position: relative;
          display: block;
          margin: 0; }
          #speakers .content .speaker-list .speaker > div .img figure > a.face {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #ccc; }
          #speakers .content .speaker-list .speaker > div .img figure .links {
            position: absolute;
            bottom: -5px;
            right: 0px; }
            #speakers .content .speaker-list .speaker > div .img figure .links a {
              width: 32px;
              height: 32px;
              display: block;
              float: left;
              margin-right: 5px; }
              #speakers .content .speaker-list .speaker > div .img figure .links a.twitter {
                background: #20b9f1 url(../twitter.svg) no-repeat center center;
                background-size: 100%; }
              #speakers .content .speaker-list .speaker > div .img figure .links a.website {
                background: #6c7173 url(../website.svg) no-repeat center center;
                background-size: 100%; }
      #speakers .content .speaker-list .speaker > div .text {
        float: left;
        display: block;
        margin-right: 4.8291579146%;
        width: 65.0569473618%; }
        #speakers .content .speaker-list .speaker > div .text:last-child {
          margin-right: 0; }
        #speakers .content .speaker-list .speaker > div .text h3 {
          color: #2e4e6b;
          line-height: 1.1em;
          margin: 0 0 10px; }
        #speakers .content .speaker-list .speaker > div .text .title {
          font-size: 1.25em;
          font-weight: 600;
          margin: 0 0 20px;
          line-height: 1.1em; }
        #speakers .content .speaker-list .speaker > div .text .description {
          line-height: 1.1em;
          color: #6c7173;
          margin: 0 0 20px; }
        #speakers .content .speaker-list .speaker > div .text .tags li {
          background: url(../tag.svg) no-repeat right top;
          background-size: auto 30px;
          color: #fff;
          display: inline-block;
          font-weight: 600;
          font-size: 0.75em;
          line-height: 20px;
          height: 20px;
          padding: 0 12px 0 6px;
          margin-right: 6px;
          white-space: nowrap;
          text-transform: uppercase; }

#venue .content {
  padding: 0; }
  #venue .content #venue-photos {
    display: block; }
    #venue .content #venue-photos:after {
      content: "";
      display: table;
      clear: both; }
    #venue .content #venue-photos li {
      float: left;
      display: block;
      width: 34.1192171993%;
      width: 33% !important;
      background-size: cover;
      overflow: hidden;
      height: 300px; }
      #venue .content #venue-photos li:last-child {
        width: 31.7615656014%; }
      #venue .content #venue-photos li:nth-child(3n) {
        margin-right: 0; }
      #venue .content #venue-photos li:nth-child(3n+1) {
        clear: left; }
      #venue .content #venue-photos li:nth-child(3n) {
        width: 34% !important; }
#venue #map {
  width: 100%; }
  #venue #map iframe {
    width: 100%;
    height: 500px; }

footer {
  background: #1f3447;
  padding: 60px 0; }
  footer .about-us {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    padding-right: 50px; }
    footer .about-us:last-child {
      margin-right: 0; }
  footer .learn-more {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    footer .learn-more:last-child {
      margin-right: 0; }
  footer .stay-onnected {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    footer .stay-onnected:last-child {
      margin-right: 0; }
  footer h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: #ccc;
    font-size: 1.25em;
    margin: 0 0 20px; }
  footer p {
    color: #fff; }
  footer a {
    color: #fff;
    text-decoration: underline; }
    footer a:hover {
      color: #ccc; }
