@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";



$dark: #2e4e6b;
$blue: #20b9f1;
$gray: #6c7173;
$green: #0b8c41;

body {
	padding: 0;
	margin: 0;
}


.container {
	
	@include outer-container(1200px);
	
}

.button-container {
	text-align: center;
}

.small.button {
	text-transform: uppercase;
	font-family: $header-font-family;
	font-weight: 600;
	font-size: em(18);
	line-height: 36px;
	height: 36px;
	padding: 0 1em;
	display: inline-block;
	border-radius: 3px;
}


.medium.button {
	text-transform: uppercase;
	font-family: $header-font-family;
	font-weight: 500;
	font-size: em(24);
	line-height: 48px;
	height: 48px;
	padding: 0 1em;
	display: inline-block;
	border-radius: 5px;
}

.button.big {
	text-transform: uppercase;
	font-family: $header-font-family;
	font-weight: 500;
	font-size: em(30);
	line-height: 64px;
	height: 64px;
	padding: 0 1em;
	display: inline-block;
	border-radius: 5px;
}

.button.green {
	color: #fff;
	background: $green;
	&:hover {
		background: darken($green,5%);
	}
}


.button.white {
	color: $gray;
	background: white;
	&:hover {
		background: darken(white,5%);
	}
}


#wrapper {
	margin-top: 50px;
}

header {
	
	
	height: 600px;
	background: $dark url(../top.png) repeat center center;
	position: relative;

	.last {
		background: url(../previous.svg) no-repeat right center;
		background-size: auto 40px;
		height: 40px;
		padding-right: 50px;
		top: 40px;
		right: 40px;
		line-height: 40px;
		color: #fff;
		font-size: em(24);
		position: absolute;
	}

	#logo {
		margin: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 250px;
		transform: translate(-50%, -50%);		
		-webkit-transform: translate(-50%, -50%);		
		display: block;
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	} 
	
	#date-place {
		
		margin: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 1200px;
		-webkit-transform: translate(-50%, -50%);		
		transform: translate(-50%, -50%);		
		display: block;
		
		> div {
			
			font-family: "proxima-nova-soft";
			color: $blue;
			font-size: em(32);
		
			&#conf-place {
				float: left;
			}
			
			&#conf-date {
				float: right;
			}
		
			
		}
		
	}
	
	
}

nav#main {
	
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	background: darken($dark,5%);
	z-index: 999999999;
	
	ul {
		margin: 0;
		padding: 0;
		@include clearfix();
		text-align: center;
		li {
			display: inline-block;
			a {
				display: block;
				line-height: 50px;
				height: 50px;
				padding: 0 20px;
				font-size: $header-font-family;
				text-transform: uppercase;
				color: #fff;
			}
		}
		
	}
	
}

#the-bar {
	background: darken($dark,10%);
	text-align: center;
	padding: 20px 0;
	span {
		font-size: em(20);
		color: #fff;
		vertical-align: middle;
		display: inline-block;
				height: 36px;
				line-height: 36px;
	}
	form {
		display: inline-block;
		> div {
			display: inline-block;
			input.text {
				width: 400px;
				border: 0;
				display: inline-block;
				margin: 0 1ex;
				height: 36px;
				line-height: 36px;
				font-size: em(20);
				font-weight: 600;
				vertical-align: middle;
				padding-right: 180px;
			}
			input.submit {
				display: inline-block;
				height: 30px;
				line-height: 30px;
				padding: 0;
				background: $blue;
				color: white;
				text-transform: uppercase;
				font-size: em(18);
				font-weight: 600;
				vertical-align: middle;
				margin-left: -137px;
				width: 120px;
				
			}
			
		}
	}
	
}

section#about {
	
	text-align: center;
	padding: 150px 0;

	h2 {
		text-align: center;
		color: #666;
		text-transform: uppercase;
		font-weight: 500;
		margin: 0 0 40px;
	}
	
	p {
		font-size: em(24);
		font-weight: 300;
		color: #666;
		text-align: center;
	}

	
}

section#quote-bar {
	background: $gray;
	padding: 50px 0;
	
	.container {
		position: relative;
		
		.avatar {
			width: 100px;
			height: 100px;
			float: left;
			background-color: darken($gray,20%);
			border-radius: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			
		}
		
		p {
			margin: 0;
			font-size: em(24);
			line-height: 1.2em;
			font-weight: 500;
			font-family: $header-font-family;
			color: #fff;
			position: absolute;
			left: 140px;
			right: 240px;
			top: 50%;
			@include transform(translateY(-50%));
			
		}
		
		#more-quotes {
			float: right;
			margin: 30px 0 0;
		}
	
	}
		
}

section.intro {
	
	background: $dark;
	padding: 120px 0;
	
	h2 {
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-weight: 500;
		margin: 0 0 40px;
	}
	
	p {
		font-size: em(24);
		font-weight: 300;
		color: white;
		text-align: center;
	}
	
}

section.content {
	
	padding: 120px 0;
	
}

#speakers {
	
	.content {
		
		.speaker-list {
			
			@include row();
			
			.speaker {
				
				@include span-columns(6);
				@include omega(2n);
				
				> div {
					
					padding: 20px;
					position: relative;
					@include row();
									
					.img {
						@include span-columns(2 of 6);
						
						figure {
					    width: 100%;
					    padding-top: 100%; /* defines aspect ratio */
					    position: relative;
					    display: block;
					    margin: 0;
						    
							> a.face {
						    position: absolute;
						    top: 0;
						    left: 0;
						    right: 0;
						    bottom: 0;
						    background: #ccc;
							}				
							
							.links {
								
								position: absolute;
								bottom: -5px;
								right: 0px;
								
								a {
								
									width: 32px;
									height: 32px;
									display: block;
									float: left;
									margin-right: 5px;
									
									&.twitter {
										background: $blue url(../twitter.svg) no-repeat center center;
										background-size: 100%;
									}
									
									&.website {
										background: $gray url(../website.svg) no-repeat center center;
										background-size: 100%;
									}
										
								}
								
							}		   
						    
						}
						
					}
					
					.text {

						@include span-columns(4 of 6);
						
						h3 {
							color: $dark;
							line-height: 1.1em;
							margin: 0 0 10px;
						}
						
						.title {
							font-size: em(20);
							font-weight: 600;
							margin: 0 0 20px;
							line-height: 1.1em;
						}
					
						.description {
							
							line-height: 1.1em;
							color: $gray;
							margin: 0 0 20px;
							
						}
					
						.tags {
							
							li {
								
								background: url(../tag.svg) no-repeat right top;
								background-size: auto 30px;
								color: #fff;
								display: inline-block;
								font-weight: 600;
								font-size: em(12);
								line-height: 20px;
								height: 20px;
								padding: 0 12px 0 6px;
								margin-right: 6px;
								white-space: nowrap;
								text-transform: uppercase;
							}
							
						}
						
					}

					
				}
				
			}			
			
		}
		
	}
	
}

#venue {
	.content {
		padding: 0;
		#venue-photos {
			@include row();
			li {
				@include span-columns(4,"block-collapse");
				@include omega(3n);
				width: 33% !important;
				
				&:nth-child(3n) {
					width: 34% !important;
				}
				
				background-size: cover;
				background-repeat: no-repeat;
				overflow: hidden;
				height: 300px;
			}
		}
	}
	
	#map {
		width: 100%;
		iframe {
			width: 100%;
			height: 500px;
		}
	}
	
}

#quotes {
	
	.content {
		
		.quotes {
			
			@include row();
			
			.quote {
				
				@include span-columns(6);
				@include omega(2n);
				
				> div {
					
					padding: 40px;
					position: relative;
					@include row();
														
					.text {
						margin-left: 40px;
						padding: 20px 30px;
						background: #e6e6e6;
						position: relative;
						font-size: em(18);
						border-radius: 5px;
						border-bottom-left-radius: 0px;
						margin-bottom: 50px;
						
						&:after {
							width: 30px;
							height: 30px;
							background: url(../quote.svg) no-repeat left top;
							background-size: 100%;
							position: absolute;
							bottom: -30px;
							left: 0;
							content: "";
						}
						
					}
					
					.person {
						
						.avatar {
					    background-color: #ccc;
					    border-radius: 100%;
					    width: 80px;
					    height: 80px;
					    float: left;
							margin: 0;
							vertical-align: middle;
							background-size: cover;
							background-position: center center;
							background-repeat: no-repeat;
						}
						
						.name {
							margin: 0;
							vertical-align: middle;
							margin-left: 30px;
							float: left;
							vertical-align: middle;
							line-height: 80px;
							font-size: em(20);
							color: $gray;
						}
						
					}

					
				}
				
			}			
			
		}
		
	}
	
}

#codestarter {
		
	.columns {
		 
		@include row();
		
		.column {
			
			@include span-columns(6);
			
			h2 {
				margin-bottom: 1em;
			}
			
			h3 {
				margin-bottom: 1em;
			}
						
		}
		margin-bottom: 60px;
		
	}
	
	.photos {
		@include clearfix();
		
		figure {
			float: left;
			width: 25%;
			margin: 0;
			background-size: cover;
			background-repeat: no-repeat;
			span {
				display: block;
				width: 100%;
				padding-top: 66%;
				position: relative;
			}
		}
		
	}
	
}

footer {
	
	background: darken($dark,10%);
	padding: 60px 0;
	
	.about-us {
		@include span-columns(6);
		padding-right: 50px;
	}

	.learn-more {
		@include span-columns(3);
	}

	.stay-onnected {
		@include span-columns(3);
	}

	h4 {
		text-transform: uppercase;
		font-weight: 500;
		color: #ccc;
		font-size: em(20);
		margin: 0 0 20px;
	}
	
	p {
		color: #fff;
	}
	
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			color: #ccc;
		}
	}
	
}
